.faq-container {
    position: relative;

    .mat-form-field {
        width: 100%;
    }

    .mat-toolbar-footer {
        display: flex;
        width: 100%;
        justify-content: right;

        button {
            margin-left: 10px;
        }
    }

    .mat-toolbar-single-row {
        padding: 0;
        background-color: transparent;
    }

}
.mb-10{
    margin-bottom: 10px;
}

.mat-toolbar-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.mat-toolbar-single-row{
    height: auto;
}
.mat-form-field-hint-wrapper {
    display: block !important;
    text-align: right;
}
// .p-20{
//     padding: 20px;
// }