<div fxLayout="column" class="faq-container">

    <mat-toolbar class="mat-accent-bg m-0" fxLayoutAlign="end flex-end">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between flex-end" class="mat-toolbar-header">
            <span class="title dialog-title">{{isViewOnly?'View':'Create'}} FAQ</span>
            <button class="mat-icon-button mat-button" aria-label="Close dialog" mat-button (click)="matDialog.close()">
                <span class="mat-button-wrapper">
                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">close</mat-icon>
                </span>
            </button>
        </div>
    </mat-toolbar>
    <mat-divider class="mt-10"></mat-divider>
    <div class="content p-20 mt-20" fxLayout="column">
        <form [formGroup]="faqForm" fx-layout="column">
            <div formArrayName="faqs" *ngFor="let faq of faqList; let i = index;">
                <div [formGroupName]="i">
                    <div fxLayout="column" fxLayout.gt-xs="row" [class.faqForm]="!isViewOnly" [class.mt-30]="isViewOnly">
                        <div fxLayout="column" fxLayout.gt-xs="row">
                            <button type="button" mat-button color="accent" class="deleteFaq" *ngIf="faqList.length>1"
                                (click)="removeFaq(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <mat-form-field [class.mb-10]="faqs.controls[i].controls['question'].touched && faqs.controls[i].controls['question'].hasError('required')"
                                fxFlex="100">
                                <mat-label>Question
                                </mat-label>
                                <textarea matInput [rows]="3" formControlName="question" trim autocomplete="off"
                                    [errorStateMatcher]="matcher" maxlength="1000" [readonly]="isViewOnly"></textarea>
                                <mat-error *ngIf="faqs.controls[i].controls['question'].hasError('required')">Required
                                </mat-error>
                                <mat-hint align="end" *ngIf="!isViewOnly">{{questionMaxLength -
                                    faqs.controls[i].controls['question'].value.length}}
                                    {{questionMaxLength -
                                    faqs.controls[i].controls['question'].value.length>1?'characters':'character'}}
                                    left.</mat-hint>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayout.gt-xs="row">
                            <mat-form-field class="mb-10" fxFlex="100">
                                <mat-label>Answer
                                </mat-label>
                                <textarea matInput formControlName="answer" trim autocomplete="off"
                                    [errorStateMatcher]="matcher" maxlength="2500" [rows]="isViewOnly?8:5"
                                    [readonly]="isViewOnly"></textarea>
                                <mat-hint align="end" *ngIf="!isViewOnly">{{answerMaxLength -
                                    faqs.controls[i].controls['answer'].value.length}}
                                    {{answerMaxLength -
                                    faqs.controls[i].controls['answer'].value.length>1?'characters':'character'}}
                                    left.</mat-hint>
                                <mat-error *ngIf="faqs.controls[i].controls['answer'].hasError('required')">Required
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>

                </div>
            </div>
        </form>
        <div fxlayout="row" fxLayoutAlign="flex-start" fxFlex="100" class="mat-toolbar-footer"  *ngIf="!isViewOnly">
            <button type="submit" mat-button color="primary" class="addButton" (click)="addFaq()">
                <mat-icon>add</mat-icon> Add more
            </button>
        </div>
    </div>
    <mat-toolbar class="mat-accent-bg m-0 mt-12" fxLayoutAlign="center" *ngIf="!isViewOnly">
        <div fxlayout="row" fxLayoutAlign="flex-end" class="mt-12" fxFlex="100" class="mat-toolbar-footer action-buttons">
            <button type="submit" mat-raised-button color="primary" [disabled]="faqForm.invalid "
                (click)="saveFaqs()">Save</button>
            <button type="button" mat-raised-button class="mr-20" (click)="matDialog.close()">Cancel</button>
        </div>
    </mat-toolbar>
</div>