.faq-container {
    .custom-loader {}

    .mat-form-field {
        width: 100%;
    }

    .mat-toolbar-footer {
        display: flex;
        width: 100%;
        justify-content: right;

        button {
            margin-left: 10px;
        }
    }

    .mat-toolbar-single-row {
        padding: 0;
        background-color: transparent;
    }

}

.mat-toolbar-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

// .p-20{
//     padding: 20px;
// }