<div fxLayout="column" class="faq-container">
   
    <mat-toolbar class="mat-accent-bg m-0" fxLayoutAlign="end flex-end" >
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between flex-end" class="mat-toolbar-header">
            <span class="title dialog-title">{{isViewOnly?'View':'Create'}} FAQ</span>
            <button class="mat-icon-button mat-button" aria-label="Close dialog" mat-button (click)="matDialog.close()">
                <span class="mat-button-wrapper">
                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">close</mat-icon>
                </span>
            </button>
        </div>
    </mat-toolbar>
    <!-- <mat-divider></mat-divider> -->
    <div class="content p-20 mt-20" fxLayout="column">
        <form [formGroup]="faqForm" fx-layout="column">
            <div fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field class="mt-0" ngClass="pr-10" ngClass.xs="pr-0" fxFlex="100">
                    <mat-label>Question
                        <!-- <span class="color-red">*</span> -->
                    </mat-label>
                    <textarea matInput  [rows]="3" formControlName="question" trim autocomplete="off"
                        [errorStateMatcher]="matcher" maxlength="1000" [readonly]="isViewOnly"></textarea>
                    <mat-error *ngIf="faqForm.controls['question'].hasError('required')">Required</mat-error>
                    <mat-hint align="end">{{faqForm.controls['question'].value.length}} characters left.</mat-hint>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field class="mt-0" fxFlex="100">
                    <mat-label>Answer
                        <!-- <span class="color-red">*</span> -->
                    </mat-label>
                    <textarea matInput formControlName="answer" trim autocomplete="off"
                        [errorStateMatcher]="matcher" maxlength="2500"  [rows]="5" [readonly]="isViewOnly"></textarea>
                        <mat-hint align="end">Min 1</mat-hint>
                    <mat-error *ngIf="faqForm.controls['answer'].hasError('required')">Required</mat-error>
                </mat-form-field>
            </div>

        </form>
    </div>
    <mat-toolbar class="mat-accent-bg m-0" fxLayoutAlign="center"  *ngIf="!isViewOnly" >
        <div fxlayout="row" fxLayoutAlign="flex-end" class="mt-12" fxFlex="100" class="mat-toolbar-footer">
            <button type="submit" mat-raised-button color="primary" [disabled]="faqForm.invalid "
                (click)="saveUser()">Save</button>
            <button type="button" mat-raised-button  class="mr-20"
                (click)="matDialog.close()">Cancel</button>
        </div>
    </mat-toolbar>
</div>